<h2 mat-dialog-title>Create new vacancy</h2>
<mat-dialog-content>
  <form class="form-container"
        [formGroup]="createCandidateForm">

    <mat-form-field>
      <mat-label>First name</mat-label>
      <input matInput
             formControlName="firstName">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Last name</mat-label>
      <input matInput
             formControlName="lastName">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Date of birth</mat-label>
      <input matInput [matDatepicker]="picker"
             formControlName="dateOfBirth">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="multi-year"></mat-datepicker>
    </mat-form-field>

    <!--TEMPORARY-->
    <br>

    <mat-form-field>
      <mat-label>Gender</mat-label>
      <mat-select formControlName="gender">
        <mat-option *ngFor="let gender of genders"
                    [value]="gender.id">
          {{ gender.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>City of residence</mat-label>
      <input matInput
             formControlName="location">
    </mat-form-field>

    <mat-checkbox color="primary"
                  formControlName="readyToRelocate">
      Ready to relocate
    </mat-checkbox>

    <!--TEMPORARY-->
    <br>

    <mat-form-field>
      <mat-label>Desired position</mat-label>
      <input matInput
             formControlName="desiredPosition">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Industry</mat-label>
      <input matInput
             formControlName="industry">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Experience</mat-label>
      <mat-select formControlName="experience">
        <mat-option *ngFor="let experience of candidateExperience"
                    [value]="experience.id">
          {{ experience.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!--TEMPORARY-->
    <br>

    <mat-form-field>
      <mat-label>Current place of work</mat-label>
      <input matInput
             formControlName="currentWork">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Current position</mat-label>
      <input matInput
             formControlName="currentPosition">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Employment type</mat-label>
      <mat-select formControlName="employmentType">
        <mat-option *ngFor="let type of employmentTypes"
                    [value]="type.id">
          {{ type.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!--TEMPORARY-->
    <br>

    <mat-form-field>
      <mat-label>Education</mat-label>
      <input matInput
             formControlName="education">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Languages</mat-label>
      <mat-select multiple formControlName="languages">
        <mat-option *ngFor="let language of languages"
                    [value]="language">
          {{ language }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!--TEMPORARY-->
    <br>

    <mat-form-field>
      <mat-label>Desired salary</mat-label>
      <input matInput
             formControlName="desiredSalary">
    </mat-form-field>

    <!--TEMPORARY-->
    <br>

    <mat-radio-group color="primary">
      <mat-radio-button value="0" checked>
        <mat-form-field>
          <mat-label>Phone number</mat-label>
          <input matInput
                 formControlName="phoneNumber">
        </mat-form-field>
      </mat-radio-button>

      <mat-radio-button value="1">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput
                 formControlName="email">
        </mat-form-field>
      </mat-radio-button>

      <mat-radio-button value="2">
        <mat-form-field>
          <mat-label>Skype</mat-label>
          <input matInput
                 formControlName="skype">
        </mat-form-field>
      </mat-radio-button>

      <mat-radio-button value=3>
        <mat-form-field>
          <mat-label>LinkedIn</mat-label>
          <input matInput
                 formControlName="linkedIn">
        </mat-form-field>
      </mat-radio-button>

      <!--TEMPORARY-->
      <br>

      <mat-radio-button value="4">
        <mat-form-field>
          <mat-label>Telegram</mat-label>
          <input matInput
                 formControlName="telegram">
        </mat-form-field>
      </mat-radio-button>

      <mat-radio-button value="5">
        <mat-form-field>
          <mat-label>Facebook</mat-label>
          <input matInput
                 formControlName="facebook">
        </mat-form-field>
      </mat-radio-button>
    </mat-radio-group>

    <mat-form-field>
      <mat-label>Home page</mat-label>
      <input matInput
             formControlName="homePage">
    </mat-form-field>

    <!--TEMPORARY-->
    <br>

    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let status of candidateStatuses"
                    [value]="status.id">
          {{ status.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Source</mat-label>
      <mat-select formControlName="source">
        <mat-option *ngFor="let source of candidateSources"
                    [value]="source.id">
          {{ source.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!--TEMPORARY-->
    <br>

    <app-custom-chip-list
      [autocompleteValues]="candidateSkills"
      (onNewChipSelect)="skillSelected($event)"
      formControlName="skills">
    </app-custom-chip-list>

    <!--TEMPORARY-->
    <br>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput
                formControlName="description">
      </textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close [mat-dialog-close]="false">Close</button>
  <button mat-button [mat-dialog-close]="true">Create</button>
</mat-dialog-actions>

