@import "../../../styles/color-palette";
@import "../../../styles/font-sizes";
@import "../../../styles/mixins";

.wrapper {
  margin: 20px 60px;

  .heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0;

    .title {
      font-size: $font-size-h2;
      font-weight: 600;
    }

    .add-candidate {
      margin-left: 10px;
      color: $light-blue-color;
      font-size: $font-size-h1;
      font-weight: 600;

      &:hover {
        color: $blue-color;
      }
    }
  }

  .search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .advanced-search {

    }
  }

  .mat-elevation-z8 {
    position: relative;
    min-height: 456px;

    .loading-shade {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 56px;
      right: 0;
      background: rgba(0, 0, 0, 0.2);
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      .error-message {
        color: $red-color;
        font-size: $font-size-h3;
        font-weight: 600;
        text-align: center;
        line-height: 36px;
      }
    }
  }

  .table-container {
    position: relative;
    min-height: 400px;
    max-height: 636px;
    overflow: auto;

    .table {
      width: 100%;

      .mat-column-id {
        padding-left: 20px;
        min-width: 30px;
        max-width: 70px;
      }

      .mat-column-name {
        min-width: 180px;
        max-width: 250px;
      }

      .mat-column-department,
      .mat-column-project {
        min-width: 150px;
        max-width: 230px;
      }

      .mat-column-priority {
        min-width: 70px;
        max-width: 140px;
      }

      .mat-column-targetDate,
      .mat-column-salary {
        min-width: 100px;
        max-width: 150px;
      }

      .mat-column-responsibleUser {
        min-width: 120px;
        max-width: 200px;
      }

      .mat-column-status {
        padding-right: 20px;
        min-width: 120px;
        max-width: 160px;
      }
    }
  }
}
::ng-deep.mat-form-field-infix {
  width: 120px !important;
}
