@import "../../../styles/color-palette";
@import "../../../styles/font-sizes";
@import "../../../styles/classes";
@import "../../../styles/mixins";

.icon {
  font-size: $font-size-h3;
  color: $black-color;

  &:hover {
    color: $light-blue-color;
  }
}

.wrapper {
  margin: 20px 60px;

  .heading {
    @include flex-row-view;
    align-items: center;
    margin: 20px 0;

    .title {
      font-size: $font-size-h2;
      font-weight: 600;
    }

    .add-candidate {
      .icon {
        color: $light-blue-color;
      }

      &:hover {
        .icon {
          color: $blue-color;
        }
      }
    }
  }

  .search {
    @include flex-row-view;
    justify-content: space-between;
    align-items: center;

    .mat-form-field {
      width: 300px;
    }

    .advanced-search {

    }
  }

  .table-container {
    position: relative;
    overflow: auto;
    @include set-min-max-height(400px, 636px);


    .table {
      width: 100%;

      .mat-cell {
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 10px 15px 10px 0;
      }

      .mat-column-id {
        padding-left: 20px;
        @include set-min-max-width(30px, 50px);
      }

      .mat-column-name {
        @include set-min-max-width(150px, 180px);
      }

      .mat-column-position,
      .mat-column-skills {
        @include set-min-max-width(170px, 250px);
      }

      .mat-column-level {
        @include set-min-max-width(80px, 120px);
      }

      .mat-column-addingDate,
      .mat-column-addingSource {
        @include set-min-max-width(100px, 150px);
      }

      .mat-column-lastActivity {
        @include set-min-max-width(200px, 300px);
      }

      .mat-column-actions {
        padding-right: 20px;
        width: 107px;

        &.mat-header-cell {
          padding-left: 10px;
        }
      }
    }
  }
}
