
$black-color: #000000;
$white-color: #FFFFFF;
$light-grey-color: #EDEFF2;
$grey-color: #B2D5E0;
$dark-grey-color: #606060;
$blue-color: #0D4B86;
$light-blue-color: #00b7ff;
$red-color: #980000;
$light-red-color: #DE5F52;

$green-color: #8BC34A;
