@import "font-sizes";

.heading-title-h1 {
  font-size: $font-size-h1;
}

.heading-title-h2 {
  font-size: $font-size-h2;
}

.heading-title-h3 {
  font-size: $font-size-h3;
}

.heading-title-h4 {
  font-size: $font-size-h4;
}

.heading-title-h5 {
  font-size: $font-size-h5;
}

.heading-title-h6 {
  font-size: $font-size-h6;
}
