<nav id="header" class="header-wrap">
  <div class="header">
    <div class="logo">
      <a class="link" routerLink="/">
        <span class="icon fa fa-address-book"></span>
        <span>Simple Contacts</span>
      </a>
    </div>

    <div class="search">
      <span class="icon fa fa-search"></span>
    </div>

    <div class="pages-wrap">
      <ul class="pages-list">
        <li class="pages-list-item"
            routerLinkActive="link-active">
          <a class="link"
             routerLink="organizer">
            <span class="icon fa fa-calendar"></span>
            <span>Organizer</span>
          </a>
        </li>

        <li class="pages-list-item"
            routerLinkActive="link-active">
          <a class="link"
             routerLink="vacancies">
            <span class="icon fa fa-suitcase"></span>
            <span>Vacancies</span>
          </a>
        </li>

        <li class="pages-list-item"
            routerLinkActive="link-active">
          <a class="link"
             routerLink="candidates">
            <span class="icon fa fa-users"></span>
            <span>Candidates</span>
          </a>
        </li>

        <li class="pages-list-item"
            routerLinkActive="link-active">
          <a class="link"
             routerLink="departments">
            <span class="icon fa fa-building"></span>
            <span>Departments</span>
          </a>
        </li>

        <li class="pages-list-item"
            routerLinkActive="link-active">
          <a class="link"
             routerLink="reports">
            <span class="icon fa fa-file-text"></span>
            <span>Reports</span>
          </a>
        </li>

        <li class="pages-list-item"
            routerLinkActive="link-active">
          <a class="link"
             routerLink="accounts">
            <span class="icon fa fa-id-card"></span>
            <span>Accounts</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="side-buttons">
      <div class="notifications">
        <span class="icon fa fa-bell"></span>
      </div>

      <div class="info">
        <span class="icon fa fa-question-circle"></span>
      </div>

      <div class="settings">
        <span class="icon fa fa-cog">
          <span class="fa fa-angle-down"></span>
        </span>
      </div>
    </div>
  </div>
</nav>
