<nav id="header" class="header-wrap">
  <div class="header">
    <div class="logo" routerLink="/"></div>

    <div class="pages-wrap">
      <ul class="pages-list">
        <li class="pages-list-item"
            routerLinkActive="link-active">
          <a class="link"
             routerLink="organizer">
            <span class="icon icon-organizer"></span>
            <span>Organizer</span>
          </a>
        </li>

        <li class="pages-list-item"
            routerLinkActive="link-active">
          <a class="link"
             routerLink="vacancies">
            <span class="icon icon-vacancies"></span>
            <span>Vacancies</span>
          </a>
        </li>

        <li class="pages-list-item"
            routerLinkActive="link-active">
          <a class="link"
             routerLink="candidates">
            <span class="icon icon-candidates"></span>
            <span>Candidates</span>
          </a>
        </li>

        <li class="pages-list-item"
            routerLinkActive="link-active">
          <a class="link"
             routerLink="departments">
            <span class="icon icon-department"></span>
            <span>Departments</span>
          </a>
        </li>

        <li class="pages-list-item"
            routerLinkActive="link-active">
          <a class="link"
             routerLink="reports">
            <span class="icon icon-reports"></span>
            <span>Reports</span>
          </a>
        </li>

        <li class="pages-list-item"
            routerLinkActive="link-active">
          <a class="link"
             routerLink="accounts">
            <span class="icon icon-account"></span>
            <span>Accounts</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="side-buttons">
      <span class="icon icon-notification"></span>

      <span class="icon icon-ask"></span>

      <span class="icon icon-settings"></span>
    </div>
  </div>
</nav>
