@import "../../../styles/color-palette";
@import "../../../styles/font-sizes";

.icon {
  font-size: $font-size-h3;
}

.link {
  text-decoration: none;
  color: inherit;
}

.header-wrap {
  position: sticky;
  top: 0;
  z-index: 101;

  .header {
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url("./../../../assets/images/Header-background.jpg");
    color: $white-color;
    font-size: $font-size-h5;

    .logo {
      height: 60px;
      width: 140px;
      margin-right: 20px;

      background-image: url("./../../../assets/icons/LogoFull.svg");
      background-repeat: no-repeat;
      background-size: cover;

      &:hover {
        background-image: url("./../../../assets/icons/LogoFullBlue.svg");
      }

      &:focus {
        outline: none;
      }
    }

    .pages-wrap {
      display: flex;
      align-items: center;
      height: 100%;

      .pages-list {
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        margin: 0 80px;
        height: 100%;

        .pages-list-item {
          display: flex;
          align-items: center;
          padding: 10px;
          margin: 0 10px;
          height: 100%;
          box-sizing: border-box;
          opacity: 1;

          .link {
            display: flex;
            align-items: center;

            .icon {
              margin-right: 7px;
            }
          }

          &.link-active {
            background-color: rgba(255, 255, 255, 0.3);

            &:hover {
              color: white;
            }
          }

          &:hover {
            color: $grey-color;
          }
        }
      }
    }

    .side-buttons {
      display: flex;
      align-items: center;
      flex-direction: row;

      .icon {
        &:hover {
          color: $grey-color;
        }
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .header-wrap {

    .header {
      height: 50px;

      .logo {
        height: 40px;
        width: 90px;
        margin-right: 10px;
      }
    }
  }
}
