@import "../../../../styles/mixins";

.container {
  width: 600px;

  .form-container {
    display: flex;
    flex-direction: column;

    .salary-container {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .salary {
        width: 50%;
      }
    }
  }
}
