@import "../../../styles/color-palette";
@import "../../../styles/font-sizes";
@import "../../../styles/classes";
@import "../../../styles/mixins";

.icon {
  font-size: $font-size-h3;
  color: $black-color;

  &:hover {
    color: $light-blue-color;
  }
}

.wrapper {
  margin: 20px 60px;

  .heading {
    @include flex-row-view;
    align-items: center;
    margin: 20px 0;

    .title {
      font-size: $font-size-h2;
      font-weight: 600;
    }

    .add-department {
      .icon {
        color: $light-blue-color;
      }

      &:hover {
        .icon {
          color: $blue-color;
        }
      }
    }
  }

  .search {
    @include flex-row-view;
    justify-content: space-between;
    align-items: center;

    .advanced-search {

    }
  }

  .table-container {
    position: relative;
    overflow: auto;
    @include set-min-max-height(400px, 636px);

    .table {
      width: 100%;

      .mat-cell {
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 10px 15px 10px 0;
      }

      .mat-column-id {
        padding-left: 20px;
        @include set-min-max-width(30px, 70px);
      }

      .mat-column-name {
        @include set-min-max-width(140px, 250px);
      }

      .mat-column-status {
        @include set-min-max-width(120px, 160px);
      }

      .mat-column-vacancies,
      .mat-column-projects {
        @include set-min-max-width(200px, 280px);
      }

      .mat-column-responsibleUser {
        @include set-min-max-width(120px, 200px);
      }

      .mat-column-contacts {
        @include set-min-max-width(140px, 220px);
      }

      .mat-column-actions {
        padding-right: 20px;
        width: 107px;

        &.mat-header-cell {
          padding-left: 10px;
        }
      }
    }
  }
}
