@import "../../../styles/color-palette";
@import "../../../styles/text-format";
@import "../../../styles/font-sizes";
@import "../../../styles/classes";
@import "../../../styles/mixins";

.icon {
  font-size: $font-size-h3;
  color: $black-color;

  &:hover {
    color: $light-blue-color;
  }
}

.wrapper {
  margin: 20px 60px;

  .heading {
    @include flex-row-view;
    align-items: center;
    margin: 20px 0;

    .title {
      font-size: $font-size-h2;
      font-weight: 600;
    }

    .add-vacancy {
      .icon {
        color: $light-blue-color;
      }

      &:hover {
        .icon {
          color: $blue-color;
        }
      }
    }
  }

  .search {
    @include flex-row-view;
    justify-content: space-between;
    align-items: center;

    .mat-form-field {
      width: 300px;
    }

    .advanced-search {

    }
  }

  .table-container {
    position: relative;
    overflow: auto;
    @include set-min-max-height(400px, 636px);

    .table {
      width: 100%;

      .mat-cell {
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 10px 15px 10px 0;
      }

      .mat-column-id {
        padding-left: 20px;
        @include set-min-max-width(30px, 70px);
      }

      .mat-column-name {
        @include set-min-max-width(180px, 250px);
      }

      .mat-column-department,
      .mat-column-project {
        @include set-min-max-width(150px, 230px);
      }

      .mat-column-priority {
        font-weight: 600;
        @include set-min-max-width(70px, 140px);
      }

      .mat-column-targetDate {
        @include set-min-max-width(100px, 150px);

        .text-bold {
          font-size: 12px;
          font-weight: 600;
        }
      }

      .mat-column-salary {
        @include set-min-max-width(100px, 150px);
      }

      .mat-column-responsibleUser {
        @include set-min-max-width(120px, 200px);
      }

      .mat-column-status {
        padding-right: 20px;
        @include set-min-max-width(100px, 120px);

        .mat-form-field {
          width: 100%;
        }
      }

      .mat-column-actions {
        padding-right: 20px;
        width: 107px;

        &.mat-header-cell {
          padding-left: 10px;
        }
      }
    }
  }
}
