@import '../../../../styles/color-palette';
@import '../../../../styles/html-elements';
@import '../../../../styles/font-sizes';
@import '../../../../styles/mixins';

.mat-flat-button {
  border-radius: 0;
}

.frame-heading {
  font-size: $font-size-h3;
  text-transform: uppercase;
  font-weight: 600;
}

.container {
  max-width: 1200px;
  margin: auto;

  .heading {
    display: flex;
    margin: 20px 20px 0;
    padding: 20px;
    background-color: $white-color;
    justify-content: space-between;

    .basic-info-container {
      width: 100%;
      height: 140px;
      margin: 0 20px;
      @include flex-column-view;
      justify-content: space-between;

      .name-container {
        @include flex-row-view;
        align-items: center;

        .status {
          margin-left: 20px;
          color: $white-color;
          font-weight: 600;
          font-style: italic;
          padding: 3px 12px;
          text-transform: lowercase;
        }
      }

      .name, .position, .adding-info {
        margin: 0 0 0 20px;
      }

      .name {
        text-transform: uppercase;
        font-weight: 600;
        font-size: $font-size-h1;
      }

      .heading-buttons {
        bottom: 0;

        .icon {
          margin-right: 5px;
        }
      }
    }

    .quick-actions {
      min-width: 120px;
    }
  }

  .tabs-container {
    margin: 0 20px;

    ::ng-deep.mat-tab-header {
      background-color: $white-color;
    }

    ::ng-deep.mat-tab-body {
      margin-top: 20px;
    }

    .tab-wrapper {
      @include flex-column-view;

      .row {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;

        .about, .contacts {
          padding: 20px;
          background-color: $white-color;
          @include flex-column-view;
        }

        .about {
          width: 80%;
          margin-right: 20px;

          .field-container {
            margin-bottom: 10px;
            @include flex-column-view;

            .field-name {
              font-weight: 600;
            }
          }
        }

        .contacts {
          width: 30%;

          .icon {
            display: flex;
            align-items: center;
            margin-bottom: 8px;
            vertical-align: center;

            &::before {
              margin-right: 20px;
              font-size: 20px;
              min-width: 20px;
            }

            .contact {
              font-style: italic;
            }
          }
        }

        .skills {
          padding: 20px;
          background-color: $white-color;
          width: 50%;

          &:first-child {
            margin-right: 20px;
          }
        }

        .description {
          padding: 20px;
          background-color: $white-color;
          width: 100%;
        }
      }
    }
  }
}
