@import "../../../../styles/mixins";

.container {
  width: 600px;

  .form-container {
    display: flex;
    flex-direction: column;

    .contacts {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      ::ng-deep.mat-form-field-infix {
        width: 250px;
      }
    }
  }
}
